body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.app--container > h1,
.app--container > p  {
	text-align: center;
}
.app--container > p {
	font-size: 20px;
	max-width: 500px;
	margin: 0 auto;
}

.lambda--icon {
	width: 150px;
	display: block;
	margin: 0 auto;
	vertical-align: middle;
}

hr {
	border-top-color: #f58536;
}

.form--border {
	max-width: 500px;
	margin: 50px auto;
}

.form--position {
	position: relative;
	padding-left: 50px;
	margin-bottom: 35px;
}

.form--position .form--number {
	position: absolute;
	color: #f58536;
	left: -50px;
	top: -50px;
	font-size: 125px;
}

.form--border > h3 {
	text-align: center;
	padding-bottom: 15px;
}

.form--position input,
.form--position textarea {
	display: block;
	width: 100%;
	max-width: 100%;
	margin: 15px auto 25px;

}


.form--technology {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.form--technology input {
	width: 80%;
	margin: 0px;
	margin-left: 0px;
}

.form--technology button {
	width: 15%;
	margin-bottom: 0px;

}

.form--technology-controls {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}


.form--controls {
	margin: 15px 0px;
}

.form--controls > button {
	display: block;
	width: 100%;
}

.form--controls > input {
	display: block;
	position: relative;
	width: 100%;
	border: 1px solid #f58536;
	color: #f58536;
}
.form--controls > input:hover,
.form--controls > input:focus  {
	display: block;
	position: relative;
	width: 100%;
	border: 1px solid #f58536;
	color: white;
	background-color: #f58536;
}


input:focus,
textarea:focus,
button:focus {
	border: 1px solid #f58536 !important;
}

li {
	list-style: none;
}